//fontes
$fontPrincipal: Roboto, sans-serif;

//esquema de cores
$corPrincipal:#f5f6fa;
$corCabecalho:#182c61;
$corBotao:#44bd32;
$corProduto:#4cd137;
$corSecundaria: #fff;

//breakpoints
$mobile: 767px;
$tablet: 1023px;