* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    margin-top: 20px;
}

input, button {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    width: 10%;
    resize: none;
}

button {
    background-color: bisque;
    text-transform:uppercase;
    color: black;
    cursor: pointer;
}
